### VS Code ###
.vscode/

# Until the app is done, we ignore the folder containing the database so modifications in it will be ignored by Git
database/

api/src/test/java/com/movierecommendations/api/*Integration*

to do.txt
